@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
@font-face {
    font-family: "aboutfont";
    src: url(Fonts/HighSchoolUsaSans-52vx.ttf);
  }
  @font-face {
    font-family: "Logofont";
    src: url(Fonts/Logofont.ttf);
  }
  @font-face {
    font-family: "navbarfont";
    src: url(Fonts/AERO_03.otf);
  }
  @font-face {
    font-family:"coulson" ;
    src: url(Fonts/Coulson.otf);
  }
  @font-face {
    font-family:"russo" ;
    src: url(Fonts/RussoOne-Regular.ttf);
  }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('https://wallpapercave.com/wp/wp3989593.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg)
    }
}

.login-box {
    position: relative;
    width: 600px;
    height: 450px;
    background: transparent;
    border: 3px solid rgba(6, 189, 235, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    font-family: "navbarfont";

}


h2 {
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
    font-size: "Logofont";
    text-transform: uppercase;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 57px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 3px ;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;}

    .remember-forgot a:hover {
       text-decoration: underline;
    }

    button {
        width: 100%;
        height: 40px;
        background: #e7e7e7;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.4rem;
        color: #000;
        font-weight: 500;
        font-family: "navbarfont";
        text-transform: uppercase;
        letter-spacing: 2px;
    }    

    .register-link {
        font-size: .9rem;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }

    .register-link p a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;    
    }

    .register-link p a:hover {
        text-decoration: underline;
    }

    @media (max-width: 360px) {
        .login-box {
            width: 100%;
            height: 100vh;
            border: none;
            border-radius: 0;
        }

        .input-box {
            width: 290px;
        }
    }

    #red {
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.968);
        padding:1px 10px ;
        font-size: 30px;
        border-radius: 3px;
        margin-top: -6px;
        margin-left:186px ;
        border: rgb(2, 204, 255) solid;
        position: absolute;
        background: none;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        
    }